* {
    margin: 0;
    padding: 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.butt-flex{
    margin: .5vw 2vw;
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: .65rem;
    cursor: pointer;
    justify-items: center;
    align-items: center;
}

.butt-flex:active span {
    background-color: rgb(0, 188, 221);
}

.butt-flex > span {
    background: white;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    transition: transform .5s, opacity .3s;
    transform-origin: left;
    margin: 2px;
}

.butt-flex:hover span:first-child {
    transform: rotate(45deg);
}

.butt-flex:hover span:nth-child(2) {
    opacity: 0;
}

.butt-flex:hover span:last-child {
    transform: rotate(-45deg);
} 

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header {
    position: relative;
    background-color: #131313;
    height: 25vh;
}

.grid-item nav {
    grid-area: "nav";
}

.grid-item div {
    grid-area: "logo";
}

aside{
    /* position: fixed; */
    float: left;
    width: 20%;
    height: 100vh;
    background-color: #16161d ;
    align-content: baseline;
}

section{
    float: left;
    width: 60%;
    background-color:#2b2b2b;
}

.flex-item {
    background-color: transparent;
    font-weight: bold;
    color: #444;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    margin: .5rem .5rem;
    border: 2px solid #131313;
    border-radius: .5rem;
    cursor: pointer;
    transition: box-shadow .3s ease;
    box-shadow: .5rem .5rem 1rem #2b2b2b,
        -.5rem -.5rem 1rem #000000;
}

.flex-item:hover {
    box-shadow: .5rem .5rem 1rem #000000,
        -.5rem -.5rem 1rem #2b2b2b;
}

.flex-item:active {
    color: azure;
    box-shadow: inset .2rem .2rem 1rem #000000,
        inset -.2rem -.2rem 1rem #2b2b2b;
}

#Logo {
    display: flex;
    align-content: start;
    justify-content: flex-end;
    height: 100%;
    background-image: url(/static/img/traced-Diseño\ sin\ título.png);
    height: 20vh;
    width: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#Logo h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    text-align: end;
    align-content: end;
    color: red;
}

#Logo span {
    color: greenyellow;
}

ul {
    height: auto;
}

#menu {
    /* background-color: white; */
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    list-style-type: none;
}

/* #menu p.activo {
    background-color: rgb(0, 211, 211);
    color: #131313;
} */

main {
    color:#7FFF00 ;
}

[data-content] {
    display: none;
    padding: 5rem;
}

.activo[data-content] {
    display: block;
    height: 100vh;
}

.animated-button::before {
    /* Define el gradiente animado como un pseudo-elemento detrás del botón */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #008080, #00FFFF, #008cff, #008064, #00ffb3, #7FFF00);
    background-size: 1400% 1400%;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
    animation: gradient 3s ease infinite;
    opacity: 1;
  }
  
  @keyframes gradient { 
    0%{background-position:0% 50%}
    50%{background-position:50% 50%}
    100%{background-position:0% 50%}
  }
  

@keyframes glowing {
 0%{background-position: 0 0;}
 50%{background-position: 400% 0;}
 100%{background-position: 0 0;}
}

.actual[data-target] {
    color: aliceblue;
    /* color: #2b2b2b; */
    content: "";
    background: linear-gradient(270deg, #008080, #00FFFF, #008cff, #008064, #00ffb3, #7FFF00);
    background-size: 1400% 1400%;
    border-radius: 10px;
    transition: opacity 0.7s ease-in-out;
    animation: gradient 3s ease infinite;
}




